$fondo-arriba:url(images/Background_image_edited.png);
$fondo-dos: gray;



$color-letra-arriba:white;


*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

#arriba{
    background-image: $fondo-arriba;
    color:$color-letra-arriba;
    width: 100%;
    height: 400px;
}

#nav{
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
}

header{
    margin: 80px;
    font-size: 25px;

}

#dos{
    background-color: $fondo-dos;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    align-items: center;
    
    
}

main{
    width: 100%;
    height: 800px;
    border: 1px solid black;
    display:grid;
    //grid-gap: 10px;
    grid-template-areas: 'articulos articulos articulos' 
                        'slider slider slider'
                         'button button button';
    
    
}


#articulos{
    grid-area: articulos;
    display: flex;
    gap:20px;
    justify-content: center;
    align-items: center;
    padding: 50px 120px;
    font-size: 20px;
    text-align: center;
}

.articulo{
    display: flex;
    gap:10px;
    border-top: 10px;
    flex-wrap: wrap;
    
}

.articulo figure{
    margin-left: 90px;
    display: flex;
}
.articulo figure h3{
    align-self: center;
    padding-left: 15px;
    
}

.articulo img{
    width: 50px;
    height: 50px;
}

.articulo p{
    order: 20;
}


#slider{
    background-color: yellow;
    grid-area: slider;
} 

#button{
    background-color: hotpink;
    grid-area: button;
}





/*.articulo{
    width: 100px;
    height: 100px;
}


.articulo figure{
    display: flex
    
}

.articulo img{
    height: 50px;
    width: 50px;
    margin-right: 10px;
}*/


.button{
    width: 184px;
    height: 44px;
    border-radius: 10rem;
}


#logo{
    width: 80px;
    height: 23px;
}

nav ul{
    display: flex;
    gap: 10px;
    
}